<% layout('layouts/boilerplate') %>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <br><br>
        <h3>Create a New Listing</h3>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter Catchy Title" type="text" id="title" class="form-control" required/>
            <div class="valid-feedback">
              Title Looks good!
            </div>
            <div class="invalid-feedback">
              Please Enter a Title.
            </div>
          </div>
    
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
            name="listing[description]"
            placeholder="Enter Description"
            id="description"
            class="form-control"
            required
            ></textarea>
            <div class="invalid-feedback">
              Short Description Required.
            </div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input
            name="listing[image]"
            placeholder="Enter Image URL/Link"
            type="file"
            id="image"
            class="form-control"
            required
            />
          </div>
    
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1200" type="number" id="price" class="form-control" required />
            <div class="invalid-feedback">
              Price is Required.
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" placeholder="India" type="text" id="country" class="form-control" required/>
              <div class="invalid-feedback">
                Please Enter Valid Country.
              </div>
            </div>
            
            <div class="mb-3 col-md-6">
              <label for="location" class="form-label">Locatiom</label>
              <input
              name="listing[location]"
              placeholder="Jaipur,Rajasthan"
              type="text"
              id="location"
              class="form-control"
              required
              />
              <div class="invalid-feedback">
                Please Enter Valid Location.
              </div>
            </div>
          </div>
          <br>
    
          <button class="btn btn-dark add-btn">Add</button>
          <br><br>
        </form>
      </div>
    </div>
  </body>
